.header-container {
  display:flex;
  justify-content: center;
}

h1 {
  font-family: 'Fredoka One', cursive;
}

body {
  background: #DFF;
}
.zdog-canvas {
  cursor: move;
  margin:0 auto;
  display:block;
}